AZURE_TENANT_ID=your_tenant_id
AZURE_CLIENT_ID=your_client_id
AZURE_CLIENT_SECRET=your_client_secret
AZURE_SUBSCRIPTION_ID=your_subscription_id
GROQ_API_KEY=your_groq_key
PHI_API_KEY=your_phi_key
SSH_PRIVATE_KEY_PATH=path/to/ssh_key